<?xml version="1.0"?>

<!-- hardware launch file -->
<launch>

    <!-- Load the robot description -->
    <param name="robot_description" textfile="$(find n_turtle_description)/urdf/n_turtle.urdf" />

    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- hardware control pkg -->
    <include file="$(find n_turtle_ctrl)/launch/n_turtle_ctrl.launch" />

    <!-- Parameters for TF and scan topic -->
    <arg name="scan_topic" default="scan" />
    <arg name="base_frame" default="base_footprint" />
    <arg name="odom_frame" default="odom" />

    <!-- <param name="tf_cache_time" type="double" value="200.0" /> -->
    <node pkg="n_turtle_slam" type="dynamicTf.py" name="dynamicTf" output="screen" />
    <node pkg="n_turtle_nav" type="convertMsg.py" name="convertMsg" output="screen" />

    <include file="$(find n_turtle_ctrl)/launch/ekf.launch" />

    <!-- static tf between base link and base footprint -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_footprint"
        args="0.0 0.0 0.010 0 0 0  base_link base_footprint" />
    <!-- static tf between base link and lidar link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_laser"
        args="-0.032 0 0.172 0 0 0 base_link laser" />
    <!-- static tf between base link and imu link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu"
        args="-0.032 0 0.068 0 0 0 base_link imu_link" />
    <!-- static tf between base link and camera link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera"
        args="-0.029 0.0 0.08 0 0 0 base_link camera_link" />

    <!-- robot pose ekf launch file-->
    <include file="$(find n_turtle_ctrl)/launch/ekf.launch" />

    <!-- Map server -->
    <arg name="map_file" default="$(find n_turtle_slam)/maps/myBalacaMap.yaml" />
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL for localization -->
    <include file="$(find n_turtle_nav)/launch/amcl.launch" />

    <!-- Move base for navigation -->
    <include file="$(find n_turtle_nav)/launch/move_base.launch" />

    <!-- RViz visualization -->
    <!-- Uncomment to launch RViz -->
    <arg name="config" default="slam" />
    <node pkg="rviz" type="rviz" name="rviz" output="screen"
        args="-d $(find n_turtle_slam)/rviz/$(arg config).rviz" />

</launch>