<?xml version="1.0"?>
<launch>

        <!-- Load the robot description -->
        <param name="robot_description" textfile="$(find n_turtle_description)/urdf/n_turtle.urdf"/>    

        <!-- Joint State Publisher GUI -->
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    
        <!-- Robot State Publisher -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
        <!-- RViz -->
        <arg name="config" default="display"/>
        <node pkg="rviz" name="rviz" type="rviz" required="true" args="-d $(find n_turtle_description)/rviz/$(arg config).rviz" output="screen"/>
        

</launch>